<template>
    <div class="home">
        <GeneratorWidget></GeneratorWidget>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import GeneratorWidget from '@/components/GeneratorWidget.vue'; // @ is an alias to /src

    @Component({
        components: {
            GeneratorWidget,
        },
    })
    export default class Home extends Vue {
    }
</script>
