<template>
    <div class="generator">
        <div id="canvasContainer">
            <canvas id="canvas" width="480" height="480"></canvas>
            <canvas id="progressBar" width="480" height="8"></canvas>
        </div>
        <div id="help">
            <h1>Click one of the presets below <br>to generate a similar dungeon-like map</h1>
        </div>
        <div id="controls">
            <div class="img imgOrganicBasic" @click="generate(presets().OrganicBasic)"></div>
            <div class="img imgOrganicLarge" @click="generate(presets().OrganicLarge)"></div>
            <div class="img imgRooms" @click="generate(presets().Rooms)"></div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {DrunkardWalkStrategy} from '../ts/DrunkardWalkStrategy';
    import {GridFacade} from '../ts/GridFacade';
    import {ProgressBar} from '../ts/ProgressBar';
    import {Preset, Presets} from '../ts/Presets';

    @Component
    export default class Generator extends Vue {

        private timerId: number = 0;

        private generate(preset: Preset) {
            clearTimeout(this.timerId);

            const canvas = document.getElementById('canvas') as HTMLCanvasElement;

            const rows = canvas.width / preset.cellSize;
            const columns = canvas.height / preset.cellSize;

            const gridFacade = new GridFacade(canvas, preset.cellSize, preset.wallSize, preset.pathBorderProbabilities);

            const targetCells = rows * columns * preset.fillFactor;

            const pathStrategy = new DrunkardWalkStrategy(rows, columns, preset.corridorBias, preset.centerBias);

            const progressBar = new ProgressBar(document.getElementById('progressBar') as HTMLCanvasElement);

            this.timerId = setInterval(() => {
                for (let i = 0; i < preset.iterationsPerFrame; i++) {
                    const origin = pathStrategy.nextCell();
                    gridFacade.drawPathAt(origin);
                    progressBar.updateProgress(gridFacade.reachableCellsAmount(), targetCells);
                    if (gridFacade.reachableCellsAmount() >= targetCells) {
                        clearTimeout(this.timerId);
                    }
                }

            }, 1);
        }

        private presets() {
            return Presets;
        }

        private mounted() {
            this.generate(Presets.OrganicBasic);
        }

    }
</script>

<style lang="scss">
    canvas {
        display: block;
    }

    .generator {
        width: 504px;
        padding-top: 32px;
        margin: auto;
    }

    #canvasContainer {
        background: hsl(210, 20%, 25%);
        padding: 12px;
        border-radius: 8px;
    }

    #progressBar {
        margin-top: 8px;
    }

    #help {
        margin-top: 48px;
        h1 {
            font-weight: normal;
            font-size: 24px;
            color: hsl(210, 20%, 60%);
        }
    }

    #controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;

        .img {
            cursor: pointer;

            width: 160px;
            height: 160px;
            border-radius: 4px;
            box-sizing: border-box;

            background-repeat: no-repeat;
            background-size: contain;

            &:hover {
                border: 2px solid hsl(210, 20%, 60%);
            }
        }

        .imgOrganicBasic {
            background-image: url("../assets/organicBasic.png");
        }

        .imgOrganicLarge {
            background-image: url("../assets/organicLarge.png");
        }

        .imgRooms {
            background-image: url("../assets/rooms.png");
        }
    }
</style>
