<template>
    <div id="app">
        <main>
            <router-view/>
        </main>
        <footer>
            <a href="https://httpain.com/projects">&larr; <span>Back to main site</span></a>
        </footer>
    </div>
</template>

<style lang="scss">
    body {
        margin: 0;
        background-color: hsl(210, 25%, 10%);

        font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    #app {
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        max-width: 960px;

        margin: 0 auto;

        & > main {
            flex: 1;
        }
    }

    footer {
        height: 48px;
        margin-top: 48px;
    }

    footer a {
        color: hsl(210, 20%, 60%);
        text-decoration: none;
        span {
            padding: 2px;
            border-bottom: 1px solid hsla(210, 20%, 60%, 0.6);
        }
    }
</style>
